h1 {
    font-size: 48px;
    color : rgb(71, 62, 62);
    margin: 0;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: rgb(71, 29, 22);
}

#description {
    margin-bottom: 12px;
}

header {
    margin-bottom:64px;
}

/* header p {
    margin-bottom: 36px;
} */

a {
    padding: 12px 48px;
    background-color : rgb(167, 1, 78);
    color: white;
    border: 1px solid rgb(167, 1, 78);
    border-radius: 4px;
    font-size: 24px;
    display: inline-block;
    margin: 0px;
}

ol {
    list-style: none;
    width: 500px;
    margin : 36px auto 0 auto ; 
    padding: 0;
    
}

li {
    padding: 16px;
    background-color: rgb(223, 136, 124);
    margin: 32px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0,0.5);
}

 .highlight-goal {
    background-color: rgb(225, 118, 104);
}
